<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Wikipedia Clone</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/static/wiki_logo.png" alt="Wikipedia" width="200">
            <nav>
                <a href="/">Home</a>
                <a href="/article/Programming">Programming</a>
                <a href="/article/Security">Security</a>
            </nav>
        </header>
        <main>
            <h1>{{ title }}</h1>
            <p>{{ content }}</p>
        </main>
    </div>
</body>
</html>
